services:
  web:
    build: .
    ports:
      - "5001:5000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - uploads:/app/app/static/uploads
      - ./app:/app/app

  db:
    image: postgres:16-alpine
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
  uploads:
